/*********** 
Page Header
***********/
/* Header search bar, toggler button & top menu */
/* line 8, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar {
  /* Top notification menu/bar */
  /* Header seaech box */
}
/* line 10, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .page-logo {
  background: #14B9D6;
}
/* line 14, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .page-top {
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
  background: #ffffff;
}
/* line 26, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav {
  /* Extended Dropdowns */
  /* Notification */
  /* Inbox */
  /* Tasks */
  /* User */
  /* Language */
  /* Dark version */
}
/* line 29, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #f9fafc;
}
/* line 33, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
  color: #C0CDDC;
}
/* line 37, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
  background-color: #14B9D6;
  color: #ffffff;
}
/* line 44, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background-color: #f9fafc;
}
/* line 50, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
  border-bottom-color: #e4e8ee;
}
/* line 59, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
  border: 1px solid #e4e8ee;
}
/* line 62, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
  border-bottom-color: #d4dae4;
}
/* line 66, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
  border-bottom-color: #eaedf2;
}
/* line 70, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
  background: #eaedf2;
}
/* line 73, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
  color: #62878f;
}
/* line 77, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
  color: #5b9bd1;
}
/* line 80, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
  color: #3175af;
  text-decoration: none;
}
/* line 89, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
  border-bottom: 1px solid #EFF2F6 !important;
  color: #888888;
}
/* line 93, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
  background: #f8f9fa;
}
/* line 108, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
  background: #f1f1f1;
}
/* line 113, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
  background: #e4e4e4;
}
/* line 126, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
  background-color: #14B9D6;
  color: #ffffff;
}
/* line 131, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
  border-color: transparent transparent transparent #14B9D6;
}
/* line 139, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
  color: #5b9bd1;
}
/* line 152, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
  background-color: #dfe2e9;
}
/* line 163, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
  color: #7f96ac;
}
/* line 167, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
  color: #7f96ac;
}
/* line 172, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
  width: 195px;
}
/* line 181, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
  color: #7f96ac;
}
/* line 189, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
  background: #627587;
  border: 0;
}
/* line 193, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
  border-bottom-color: #627587;
}
/* line 197, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
  background: #51616f;
}
/* line 200, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
  color: #dbe0e4;
}
/* line 205, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
  color: #87b6dd;
}
/* line 214, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
  color: #e9ecef;
  border-bottom: 1px solid #718497 !important;
}
/* line 218, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
  color: #ccd3da;
}
/* line 222, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
  background: #6b7f92;
}
/* line 231, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
  border-bottom: 0 !important;
}
/* line 235, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
  background: #718497;
}
/* line 248, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
  background: #586878;
}
/* line 253, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
  background: #4d5b69;
}
/* line 266, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .search-form {
  background: #fff;
}
/* line 274, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .search-form .input-group .form-control {
  color: #7f96ac;
}
/* line 40, ../../../../../../sass/framework/metronic/global/components/_mixins.scss */
.page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
  color: #7c94aa;
  opacity: 1;
}
/* line 41, ../../../../../../sass/framework/metronic/global/components/_mixins.scss */
.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
  color: #7c94aa;
}
/* line 42, ../../../../../../sass/framework/metronic/global/components/_mixins.scss */
.page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
  color: #7c94aa;
}
/* line 282, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
  color: #7f96ac;
}

/* Page sidebar */
/* line 297, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
  background-color: #4d5b69;
  /* Default sidebar */
}
/* line 302, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
.page-sidebar .page-sidebar-menu {
  /* 1st level links */
  /* All links */
}
/* line 306, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
  border-top: 1px solid #536372;
  color: #f2f4f6;
}
@media (max-width: 991px) {
  /* line 306, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
  .page-sidebar .page-sidebar-menu > li > a {
    /* 991px */
    border-top: 1px solid #5e7081;
  }
}
/* line 314, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
  color: #7ba0bb;
}
/* line 318, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
  color: #8cacc3;
}
/* line 330, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
  color: #677a8c;
}
/* line 339, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
  background: #465460;
  color: white;
}
/* line 343, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu > li.open > a > i {
  color: #8cacc3;
}
/* line 348, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
  color: #8cacc3;
}
/* line 358, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
  background: #44515d;
  color: white;
}
/* line 362, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
  background: #495663;
}
/* line 366, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
.page-sidebar .page-sidebar-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu > li.active.open > a > i {
  color: #15c1df;
}
/* line 371, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
  color: #f3f5f6;
}
/* line 380, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
/* line 391, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
  color: #677a8c;
}
/* line 401, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
  color: #8cacc3;
}
/* line 412, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
  color: #f3f5f6;
}
/* line 422, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
  background: #404c57;
}
/* line 429, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
  color: #e4e7eb;
}
/* line 432, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
  color: #8b9baa;
}
/* line 436, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
  color: #9aa8b5;
}
/* line 448, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
  color: #677a8c;
}
/* line 458, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
  background: #465460 !important;
}
/* line 461, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
  color: #8cacc3;
  color: #c6ced5;
}
/* line 473, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
  color: #8cacc3;
}

/******
Page Footer 
******/
/* line 490, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-footer .page-footer-inner {
  color: #d5dbe0;
}
/* line 494, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-footer-fixed .page-footer {
  background-color: #adb5b0;
}
/* line 497, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-footer-fixed .page-footer .page-footer-inner {
  color: #121618;
}

/* line 505, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-boxed .page-footer .page-footer-inner {
  color: #121618;
}
/* line 509, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-footer-fixed .page-boxed .page-footer {
  background-color: #adb5b0;
}

@media (min-width: 992px) {
  /* 992px */
  /* Sidebar menu closed */
  /* line 520, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
  }

  /* line 527, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
  }
  /* line 530, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
  }

  /* Fixed Sidebar */
  /* line 539, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
    border-bottom: 0;
  }
  /* line 543, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
    background-color: #F1F3FA;
  }
  /* line 546, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
    color: #333;
  }

  /* Boxed Layout */
  /* line 554, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-boxed {
    background-color: #c0c6c2 !important;
    /* Page container */
  }
  /* line 558, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-boxed .page-container {
    background-color: #4d5b69;
  }
  /* line 563, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-boxed.page-sidebar-reversed .page-container {
    border-left: 0;
  }
  /* line 569, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  /* line 576, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  /* Sidebar Menu Wirh Hoverable Submenu */
  /* line 590, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #404c57;
  }
  /* line 593, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-left: 8px solid #404c57;
  }
  /* line 599, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #404c57 !important;
  }
}
@media (max-width: 991px) {
  /* 991px */
  /* line 608, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-container {
    background: #F1F3FA;
  }

  /* line 612, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-header.navbar {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    padding: 0;
    /* Top menu */
  }
  /* line 621, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
    background-color: #f6f7fa;
  }
  /* line 628, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-header.navbar .page-top {
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  /* 480px */
  /* line 636, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-header.navbar {
    background: #14B9D6;
    /* Top menu */
  }
  /* line 642, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-header-fixed-mobile .page-header.navbar .top-menu {
    background-color1: #ffffff;
  }
  /* line 648, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
  .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
    background-color: #eff1f6;
  }
}
/****
 CSS3 Spinner Bar  
****/
/* line 661, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
.page-spinner-bar > div,
.block-spinner-bar > div {
  background: #1acbea;
}

/****
Boby
****/
/* line 671, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
body {
  background-color: #4d5b69;
}

/* line 675, ../../../../../../sass/framework/metronic/admin/layout2/themes/_base.scss */
body.page-boxed {
  background-color: #c8cdca;
}
