<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Documentation
    <small>Information of how to use this guide.</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Documentation</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">

                <h4>Gulp Tasks</h4>
                <div class="well">
                    <p>
                        Open development enviroment (sass watching)<<br/>
                        <strong> $ gulp </strong>
                    </p>

                    <p>
                        Compile sass<br/>
                        <strong> $ gulp sass </strong>
                    </p>

                    <p>
                        Minify CSS<br/>
                       <strong> $ gulp minifycss </strong>
                    </p>
                </div>

                <h4>Technologies</h4>
                <ul class="technologies">
                    <!-- ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/angular.png" alt="AngularJS" src="assets/images/angular.png">

                            <div class="caption">
                                <h3 class="ng-binding">AngularJS</h3>

                                <p class="ng-binding">HTML enhanced for web apps!</p>

                                <p><a ng-href="https://angularjs.org/" class="ng-binding" href="https://angularjs.org/">https://angularjs.org/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/browsersync.png" alt="BrowserSync" src="assets/images/browsersync.png">

                            <div class="caption">
                                <h3 class="ng-binding">BrowserSync</h3>

                                <p class="ng-binding">Time-saving synchronised browser testing.</p>

                                <p><a ng-href="http://browsersync.io/" class="ng-binding" href="http://browsersync.io/">http://browsersync.io/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/gulp.png" alt="GulpJS" src="assets/images/gulp.png">

                            <div class="caption">
                                <h3 class="ng-binding">GulpJS</h3>

                                <p class="ng-binding">The streaming build system.</p>

                                <p><a ng-href="http://gulpjs.com/" class="ng-binding" href="http://gulpjs.com/">http://gulpjs.com/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/jasmine.png" alt="Jasmine" src="assets/images/jasmine.png">

                            <div class="caption">
                                <h3 class="ng-binding">Jasmine</h3>

                                <p class="ng-binding">Behavior-Driven JavaScript.</p>

                                <p>
                                    <a ng-href="http://jasmine.github.io/" class="ng-binding" href="http://jasmine.github.io/">http://jasmine.github.io/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/karma.png" alt="Karma" src="assets/images/karma.png">

                            <div class="caption">
                                <h3 class="ng-binding">Karma</h3>

                                <p class="ng-binding">Spectacular Test Runner for JavaScript.</p>

                                <p>
                                    <a ng-href="http://karma-runner.github.io/" class="ng-binding" href="http://karma-runner.github.io/">http://karma-runner.github.io/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/protractor.png" alt="Protractor" src="assets/images/protractor.png">

                            <div class="caption">
                                <h3 class="ng-binding">Protractor</h3>

                                <p class="ng-binding">End to end test framework for AngularJS applications built on top
                                    of
                                    WebDriverJS.</p>

                                <p>
                                    <a ng-href="https://github.com/angular/protractor" class="ng-binding" href="https://github.com/angular/protractor">https://github.com/angular/protractor</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/typescript.png" alt="TypeScript" src="assets/images/typescript.png">

                            <div class="caption">
                                <h3 class="ng-binding">TypeScript</h3>

                                <p class="ng-binding">TypeScript, a typed superset of JavaScript that compiles to plain
                                    JavaScript.</p>

                                <p>
                                    <a ng-href="http://www.typescriptlang.org/" class="ng-binding" href="http://www.typescriptlang.org/">http://www.typescriptlang.org/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                    <li>
                        <div class="thumbnail">
                            <img class="pull-right" ng-src="assets/images/jade.png" alt="Jade" src="assets/images/jade.png">

                            <div class="caption">
                                <h3 class="ng-binding">Jade</h3>

                                <p class="ng-binding">Jade is a high performance template engine heavily influenced by
                                    Haml
                                    and implemented with JavaScript for node.</p>

                                <p><a ng-href="http://jade-lang.com/" class="ng-binding" href="http://jade-lang.com/">http://jade-lang.com/</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- end ngRepeat: awesomeThing in awesomeThings | orderBy:'rank' -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
