<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    UI and UX Styleguide
    <small>Documentation</small>
</h3>

</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <p>The main goal of this StyleGuide is define the visual identity of the product and set the references for the UX..</p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
