<header class="logo-env">

    <!-- logo -->
    <div class="logo">
        <a href="/#/" class="logo-expanded">
            <img src="images/logo-learnlinq-styles.png" width="190" alt=""/>
        </a>

        <a href="dashboard-1.html" class="logo-collapsed">
            <img src="images/logo-learnlinq-styles-collapsed.png" width="40" alt=""/>
        </a>
    </div>

    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
    <div class="mobile-menu-toggle visible-xs">
        <a data-toggle="user-info-menu">
            <i class="fa-bell-o"></i>
            <span class="badge badge-success">7</span>
        </a>

        <a data-toggle="mobile-menu" ng-click="mobileMenuToggle()">
            <i class="fa-bars"></i>
        </a>
    </div>
</header>

<ul id="main-menu" class="main-menu">
    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->


    <li class="opened active">
        <a>
            <i class="linecons-beaker"></i>
            <span class="title">Visual Language - UX Principles</span>
        </a>
        <ul>
            <li class="has-sub">
                <a href="/#/">
                    <i class="linecons-params"></i>
                    <span class="title">Buttons</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
        </ul>
    </li>

    <li class="opened active">
        <a>
            <i class="linecons-beaker"></i>
            <span class="title">UI Elements</span>
            <span class="label label-purple pull-right hidden-collapsed">New Items</span>
        </a>
        <ul>
            <li class="has-sub">
                <a href="/#/validation-forms">
                    <span class="title">Validation forms</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/icons">
                    <span class="title">Icons</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="/#/">
                    <span class="title"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>



