<p>

   <p> DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or</p>
   <p> footer in mobile devices</p>
   <p> DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element</p>
   <p> to hide the sidebar by default</p>
   <p> DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle</p>
   <p> DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle</p>
   <p> DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle</p>
   <p> DOC: Apply "page-sidebar-fixed" class to have fixed sidebar</p>
   <p> DOC: Apply "page-footer-fixed" class to the body element to have fixed footer</p>
   <p> DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side</p>
   <p> DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu</p>
</p>


<h2>Generators</h2>



<p>
    Available generators:
</p>
<ul>
    <li>angular (aka angular:app)</li>
    <li>angular:controller</li>
    <li>angular:directive</li>
    <li>angular:filter</li>
    <li>angular:route</li>
    <li>angular:service</li>
    <li>angular:provider</li>
    <li>angular:factory</li>
    <li>angular:value</li>
    <li>angular:constant</li>
    <li>angular:decorator</li>
    <li>angular:view</li>
</ul>
