<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Version Log
    <small>List of all the font icons available in the application.</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Version Log</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <!-- Default panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Version 1.0 - España 29/01/2015
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li>Creation of this Styleguide with the structure.</li>
                            <li>Applyed Metronic theme</li>
                            <li>Added elements</li>
                            <ul>
                                <li>Documentation</li>
                                <li>Accessibility</li>
                                <li>Version Log</li>
                                <li>Icons</li>
                                <li>Colors</li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <!-- Default panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Version 1.1 - Valentine's xx/02/2015
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li>Added elements</li>
                            <ul>
                                <li>X</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
