<div class="page-title">

    <div class="title-env">
        <h1 class="title">Log version</h1>

        <p class="description">List of all the font icons available in the application.</p>
    </div>
</div>


<div class="col-md-12">

    <!-- Default panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            Version 1.0 - 09/01/2015
        </div>

        <div class="panel-body">

            <ul>
                <li>Creation of this Documentation with the structure.</li>
                <li>Added elements</li>
                <ul>
                    <li>Icons</li>
                    <li></li>
                </ul>
            </ul>

        </div>
    </div>

</div>
